:root {
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --primary-color: #1ABC9C;
    --seconday-color: #F6DDCC;
    --font-color: #FDFEFE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: var(--primary-color);
    color: var(--font-color);
    width: 100%;
    height: 20vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.header h1 {
    margin-bottom: 1.6rem;
    font-size: var(--lg);
}

.header p {
    font-size: var(--md);
}

.main {
    width: 100%;
    height: 100%;
    background-color: var(--seconday-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square-container {
    width: 100%;
    height: 28rem;
    margin: 0.8rem;
    padding-top: 3.5rem;
    border: 0.4rem solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-title {
    font-size: var(--md);
    margin-bottom: 3rem;
}

.square-form {
    display: flex;
    flex-direction: column;
}

.square-description {
    font-size: var(--sm);
    margin-bottom: 4rem;
}

.input {
    margin-bottom: 4rem;
}

.perimeter-button {
    margin-bottom: 0.4rem;
}