:root {
    --font: #2C3E50;
    --lg: 2.2rem;
    --md: 1.8rem;
    --sm: 1.4rem;
    --primary-color: #EBEDEF   ;
    --seconday-color: #FBEEE6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: var(--seconday-color);
    color: var(--font);
    width: 100%;
    height: 20vh;
    padding: 4rem;
}

.header h1 {
    font-size: var(--lg);
    margin-bottom: 0.8rem;
}

.header p {
    font-size: var(--md);
}

.main {
    background-color: var(--primary-color);
    height: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}   

.figure-container {
    width: 37rem;
    height: 50rem;
    background-color: var(--seconday-color);
    border: 0.2rem solid var(--font);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.figure-title {
    font-size: var(--md);
    color: var(--font);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.figure-form {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
}

.figure-form p {
    font-size: var(--sm);
    margin-bottom: 4rem;
}

.figure-form span {
    color: var(--font);
    font-weight: bold;
}

.figure-form div input {
    width: 16rem;
}

.perimeter-button, 
.altura-button,
.area-button {
    background-color: var(--font);
    color: var(--seconday-color);
    margin-top: 4rem;
    width: 12rem;
    height: 3rem;
    border: none;
}

.resultPerimeter {
    margin-top: 20px;
    font-size: 1.6rem;
}

.resultArea {
    margin-top: 0;
    font-size: 1.6rem;
}